<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- subject.title %> Articles</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/navbarSuccess.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/user/style.css">
        <link rel="stylesheet" href="/css/user/profile.css">
        <link rel="stylesheet" href="/css/article/style.css">
    </head>
    <body onload="tokenPresence()">
        <div class="wrapper">
            <%- include('../partials/navbarSuccess') %>
            <div class="container">
                <h1><%- subject.title %> Articles</h1>
                <div class="articleContent">
                    <% articles.forEach(article => { %>
                        <div class="card">
                            <a href='/articles/<%- dept.slug %>/<%- subject.slug %>/<%- article.slug %>' class='btnDept'><%- article.title %></a>
                        </div>
                    <% }) %> 
                </div>
            </div>
            <div class="container" style="margin-top: 20px">
                <h1>New Article</h1>
                <div class="content">
                    <a href="/articles/<%- dept.slug %>/<%- subject.slug %>/newArticle" class="btn">Create New</a>
                </div>
            </div>
        </div>
        <script src="/js/article/deptList.js"></script>
        <script src="/js/navbarSuccess.js"></script>
    </body>
</html>